/* GENERAL */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/* SIDEBAR */

.sidebar {
  background-color: $dark-gray;
  color: $gray;
  letter-spacing: 1px;
  height: 100%;
  width: 20vw;
  position: absolute;
  top: 0;
  .logo {
    font-family: 'Satisfy', cursive;
    font-size: 26px;
    padding: 10px 15px;
    i {
      float: right;
    }
  }
  ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    li {
      padding: 10px 20px;
      i {
        margin-right: 20px;
      }
    }
  }
  .contact {
    border-top: 1px solid $gray;
    >p {
      margin-left: 10px;
      font-weight: 400;
    }
  }
  .manager {
    display: flex;
    img {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

/* HEADER */

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $white;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
    margin: 0;
    color: $gray;
    font-size: 18px;
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../images/down-chevron.png");
      background-repeat: no-repeat;
      background-position: right;
      border: none;
      color: $gray;
    }
    li:nth-child(1), li:nth-child(3) {
      i {
        margin-right: 10px;
      }
    }
    .userId {
      font-size: 13px;
      color: #56819F;
    }
    li {
      padding: 10px 15px;
      border-left: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
    }
    li + li {
      margin-left: 25px;
    }
  }
}

/* MAIN */

.mainContainer {
  width: 100%;
  height: 100%;
  background-color: $light-gray;
  overflow: hidden;
}

.pagesContainer {
  position: relative;
  left: 20vw;
  width: 80%;
  margin-top: 20px;
  overflow: hidden;
}
