/* GENERAL */

html {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  min-height: 100%;
}

.content {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.active-menu {
  display: block !important;
}

.sidebar {
  background-color: $dark-gray;
  color: $gray;
  letter-spacing: 1px;
  width: 15vw;
  z-index: 3;
  .quit {
    display: none;
    cursor: pointer;
  }
  .logo {
    font-family: 'Satisfy', cursive;
    font-size: 26px;
    letter-spacing: 1px;
    padding: 10px 15px;
    color: $white;
    i {
      float: right;
    }
  }
  ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    font-weight: 100;
    li {
      cursor: pointer;
      transition: 0.3s ease-in-out;
      display: flex;
      a {
        text-decoration: none;
        padding: 10px 20px;
        color: $gray;
        display: flex;
        width: 100%;
      }
      &:hover {
        color: $white;
        border-left: 3px solid $orange;
        background: lighten($black, 1%);
        i {
          color: $white !important;
        }
      }
      i {
        margin-right: 15px;
      }
    }
  }
  .contact {
    border-top: 1px solid $gray;
    >p {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
  .manager {
    display: flex;
    a {
      color: $blue;
      text-decoration: none;
    }
    img {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
    margin: 0;
    color: $gray;
    font-size: 18px;
    float: right;
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../images/down-chevron.png");
      background-repeat: no-repeat;
      background-position: right;
      border: none;
      font-weight: 300;
      font-size: 16px;
      color: $gray;
      transition: .3s ease-in-out;
    }
    li:nth-child(1), li:nth-child(3) {
      i {
        margin-right: 10px;
      }
    }
    .userId {
      font-size: 13px;
      color: $blue;
    }
    li {
      padding: 10px 15px;
      cursor: pointer;
      border-left: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
      transition: .3s ease-in-out;
      &:hover {
        select {
          color: $dark-gray;
          font-weight: 600;
        }
        i {
          color: $orange;
        }
      }
    }
    li + li {
      margin-left: 25px;
    }
    i {
      transition: 0.3s ease-in-out;
    }
  }
}

/* MAIN */

.mainContainer {
  background-color: $light-gray;
  margin-top: 20px;
  margin: 0 auto;
  min-width: 80%;
  max-width: 1024px;
}

.pagesContainer {
  margin: 50px 0;
}

/* media queries */

@media (min-width: 769px) and (max-width: 990px) {
  .sidebar {
    width: 40% !important;
  }
  .mainContainer {
    min-width: 30% !important;
  }
}

@media (max-width: 768px) {
  .scroll-wrapper table {
    width: 95% !important;
  }
  .sidebar {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 150vh;
    .quit {
      display: block;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    .hamburger {
      font-size: 25px;
      margin: 0 5px;
      padding: 5px;
      cursor: pointer;
    }
    ul {
      padding: 0;
      margin-left: 5px;
      li {
        font-size: 12px;
        padding: 10px 5px !important;
        select {
          font-size: 12px;
        }
        i {
          margin-right: 0 !important;
          font-size: 14px;
        }
      }
      li + li {
        margin-left: 10px !important;
      }
    }
  }
  .calendar {
    display: flex;
    flex-direction: column;
    height: auto !important;
    input + input {
      margin-left: 0 !important;
    }
    input {
      margin-top: 10px;
      height: 50px !important;
    }
    button {
      width: 100%;
      margin: 10px auto;
    }
  }
  table {
    i + i {
      margin-left: 0 !important;
    }
  }

  .pagination {
    ul {
      padding: 0;
      a {
        font-size: 12px !important;
      }
      li + li {
        margin-left: 5px !important;
      }
    }
  }
  form {
    .field {
      width: 90%;
    }
  }
  .page {
    width: 100%;
    margin: 0 auto !important;
  }
}