/* Colors */
$black: #000000;
$white: #fff;
$dark-gray: #191919;
$gray: #9C9C9C;
$light-gray: #E3E3E3;
$orange: #F58220;
$blue: #56819F;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;